.formTransfer {
  padding: 15px;
  border-color: cadetblue;
  border-style: solid;
}

.description {
  color: cadetblue;
  font-size: 0.7em;
}

.buttons{
  width: 100%;
  margin-top: 15px;
  margin-left: 0px;
  text-align: right;
}

.space-right {
  margin-right: 5px;
}

.message {
  font-size: 0.8em;
}

.ng-invalid:not(form).ng-touched {
  border: 1px solid darkred;
}

.validation {
  font-size: 0.5em;
  padding: 4 2;
}

label {
  font-size: 0.6em;
}
