<div class="formTransfer">
  <div class="row">
    <div class="col-8">
      <p class="description">{{confirm}}</p>
    </div>
  </div>
  <div>
    <div class="form-group">
      <small><label for="description">Description</label></small>
      <input id="description" class="form-control" type="text" [(ngModel)]="description"/>
    </div>
    <div class="row">
      <div class="col">
        <small><label for="amount">Amount</label></small>
        <input id="amount" class="form-control" type="text" [(ngModel)]="amount"/>
      </div>
      <div class="col">
        <small><label for="amount">Currency</label></small>
        <select formControlName="categories" class="form-control" (change)="changedCurrency($event)">
          <option *ngFor="let currency of currencies">{{currency.code}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button (click)="closeFunds()" class="btn space-right">Close</button>
    <button type="submit" class="btn btn-primary" (click)="transferFunds()">{{confirm}}</button>
  </div>
</div>
